{% extends "shared/layout.html" %}

{% block title %}
  <title>Mundo Pythonico</title>
{% endblock %}

{% block content %}
<div class="container">
<br><br>
  <div class="row">
    {% for p in publications %}
      <div class="col-lg-4 col-md-3 col-sm-10 mr-auto">
        {% with obj=p %}
          {% include "components/card.html" %}
        {% endwith %}

        {% if loop.index %3 %}
          </div>
        {% else %}
          </div></div><br><div class="row">
        {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}